{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": ["babel", "import", "jsx-a11y", "react", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
