:root {
  // Colors
  //---------------------------------

  // Default
  --color-default-black:             #000000;
  --color-default-white:             #ffffff;
  --color-transparent:               rgba(255, 255, 255, 0);

  // Base
  --color-input:                     #2F2F37;
  --color-accent:                    #4C4CFF;
  --color-divider:                   #2F2F37;
  --color-alert:                     #F20D33;
  --color-success:                   #00CCCC;
  --color-disabled:                  #3A3A55;

  // Background colors
  --color-bg-primary:                #131316;
  --color-bg-secondary:              #1C1C21;

  // Text colors
  --color-text-primary:              #F2F2F3;
  --color-text-secondary:            #8585AD;

}

// Fonts
//---------------------------------

$font-family--JetBrains:            "JetBrains Mono", "Courier", monospace;
$font-family--Exo2:                 "Exo 2", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
